SECRET_KEY='django-insecure-zws)*np+kc7e4h(rze##@z4ow4vl%0-(abh=ug7z9lb^*68z2a'
ALLOWED_HOSTS=127.0.0.1,158.160.30.247,localhost,foodhelper.ddns.net
DEBUG=True

DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=foodhelper-db
DB_PORT=5432