SECRET_KEY='django-insecure-zws)*np+kc7e4h(rze##@z4ow4vl%0-(abh=ug7z9lb^*68z2a'
ALLOWED_HOSTS=127.0.0.1, localhost
DEBUG=false

POSTGRES_DB=foodhelper
POSTGRES_USER=Marti
POSTGRES_PASSWORD=Alfa82
DB_HOST=db
DB_PORT=5432
NGINX_PORT=80